html {
  box-sizing: border-box;

  font: normal 100%/1.5 sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin-top: 100px;
  min-width: 320px;
  position: relative;
  overflow: hidden;
}

.banner {
  background-color: #2b3851;
}

.robot {
  width: 320px;
}

.robot-body {
  width: 320px;
}

.robot-head-right,
.robot-head-left {
  width: 125px;
  position: absolute;
}

.robot-brain {
  width: 46px;
  left: 137px;
  position: absolute;
}

.robot-head-left {
  top: -40px;
  left: 35px;
}

.robot-head-right {
  top: -40px;
  left: 160px;
}

body:hover {
  transform: translate(100px);
}


/*transform: translate(XXpx)*/
